<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<context-param>
<param-name>driver</param-name>
<param-value>oracle.jdbc.driver.OracleDriver</param-value>
</context-param>

<context-param>
<param-name>url</param-name>
<param-value>jdbc:oracle:thin:@localhost:1521:XE</param-value>
</context-param>

<context-param>
<param-name>userName</param-name>
<param-value>system</param-value>
</context-param>

<context-param>
<param-name>password</param-name>
<param-value>password</param-value>
</context-param>

<servlet>
	<servlet-name>AFS1</servlet-name>
	<servlet-class>com.flyaway.AddFlightServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>AFS1</servlet-name>
	<url-pattern>/AFS1</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>AC1</servlet-name>
	<servlet-class>com.flyaway.AdminCredentials</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>AC1</servlet-name>
	<url-pattern>/AC1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>LOF</servlet-name>
<servlet-class>com.flyaway.ListOfFlights</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>LOF</servlet-name>
<url-pattern>/LOF</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>SD</servlet-name>
<servlet-class>com.flyaway.SourceDestination</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>SD</servlet-name>
<url-pattern>/SD</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UP</servlet-name>
<servlet-class>com.flyaway.UpdatePassword</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>UP</servlet-name>
<url-pattern>/UP</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RF</servlet-name>
<servlet-class>com.flyaway.RemoveFlights</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>RF</servlet-name>
<url-pattern>/RF</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FF</servlet-name>
<servlet-class>com.flyaway.FindFlights</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FF</servlet-name>
<url-pattern>/FF</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Test2</servlet-name>
<servlet-class>com.flyaway.Test2</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Test2</servlet-name>
<url-pattern>/Test2</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>SF</servlet-name>
<servlet-class>com.flyaway.SelectedFlight</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>SF</servlet-name>
<url-pattern>/SF</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>CR</servlet-name>
<servlet-class>com.flyaway.ClientRegistration</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>CR</servlet-name>
<url-pattern>/CR</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>BR</servlet-name>
<servlet-class>com.flyaway.BookingResult</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>BR</servlet-name>
<url-pattern>/BR</url-pattern>
</servlet-mapping>

</web-app>